* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    opacity: inherit;
}

body {
    background-color: #f4f4f4;
    color: #616161;
}

.main, .secondary, .third {
    animation: fadein 500ms;
    animation-timing-function: ease-in;
}

body section:nth-child(odd) {
    background-color: #ececec;
}

::-webkit-scrollbar {
    display: none;
  }

header {
    background-color: #c0c0c0;
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 10;
}

.overlay {
    transition: all 250ms linear;
    position: absolute;
    top: 5.125rem;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(#414141, transparent);
    opacity: 0;
    visibility: hidden;
}

.overlay-open {
    opacity: 1;
    visibility: visible;
}

header a, a:visited, a:active {
    text-decoration: none;
    color: #616161;
    font-weight: 400;
    transition: color ease-in-out 250ms;
}

.header-links a:hover {
    color: #000000;
    padding-bottom: .5rem;
    border-bottom: 1px solid #000000;
}

header a:hover {
    color: #000000;
}

.header-links a {
    margin: .5rem;
}

.header-menu {
    display: block;
    margin-top: 1.875rem;
    width: calc(100% - 10rem);
    border-radius: 0.625rem;
    background-color: #f4f4f4;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}

.header-menu a {
    text-align: center;
    display: inherit;
    padding: 0.75rem 1.25rem;
}

.header-menu a:hover {
    transition: all 100ms ease-in-out;
    border-radius: 0.625rem;
    background-color: #818181;
}

span {
    display: block;
    width: 2rem;
    height: .25rem;
    background-color: #272727;
}

span:not(:last-child) {
    margin-bottom: .25rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    text-align: center;
    transition: all 100ms ease-in-out;
    padding: 1rem 1.875rem;
    border-radius: 2rem;
    border: 1px solid #000000;
    color: #ffffff;
    font-weight: 900;
    background: #888888;
}

button:hover {
    color: #000000;
    background: transparent;
    cursor: pointer;
}

.open {
    visibility: visible;
}

.main {
    z-index: -1;
    position: relative;
}

.main-text {
    text-align: center;
    position: relative;
    margin: 1rem 0px;
    order: 1;
    z-index: 1;
}

.main-text h1 {
    margin-top: 3.75rem;
    font-size: 1.875rem;
}

.main-text p {
    margin: 1rem 3rem;
    line-height: 1.33rem;
    font-size: 1.25rem;
}

.main-image {
    order: 2;
    position: relative;
    background-image: url('../img/index/main_actual.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    width: 100%;
    z-index: 2;
}

.main-image::before {
    content: '';
    position: absolute;
    background-image: url('../img/index/phone_with_bank.png');
    background-size: 15rem;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.secondary {
    text-align: center;
}

.secondary-header {
    padding-top: 1rem;
}

.secondary-header h1, p {
    margin-top: 1rem;
}

.secondary-cards {
    padding: 1rem 1rem;
}

.secondary-cards p {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 0.0625rem solid #cccccc;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem #bebebe;
    background-color: #f4f4f4;
}

.secondary-cards div {
    padding: 1rem 0px;
}

.image {
    transition: all 300ms ease-in-out;
}

.image:hover {
    filter: drop-shadow(1rem 1rem 0.375rem rgba(0,0,0,0.50));
}

.third-header {
    margin-top: 1.5rem;
    text-align: center
}

.third-main a {
    text-decoration: none;
}

.article {
    text-align: left;
    margin: 3rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
}

.article-img {
    height: 12.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    transition: background-size .5s;
}

.article-img:hover {
    background-size: 120%;
}

.article-author, .article-header, .article-text {
    /* margin: 0.25rem 1rem; */
    padding: 0.25rem 1rem;
    line-height: 1.33rem;
}

.article-header {
    margin-top: 1rem;
}

.article-author {
    opacity: 0.80;
}

@media (max-width: 26.5625em) {
    .hide-for-mobile {
        display: none;
    }

    .mobile-seperators {
        border-bottom: #c0c0c0 solid 1px;
    }

}

@media (min-width: 26.625em) and (max-width: 63.9375em) {
    .hide-for-mobile {
        display: none;
    }   
    .mobile-seperators {
        border-bottom: #c0c0c0 solid 1px;
    }
    .enable-flex {
        display: flex;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flex-switch {
        flex: 50%;
    }
}

@media (min-width: 64em) {
    .hide-for-desktop {
        display: none;
    }
    .enable-flex {
        display: flex;
    }
    .flex-switch {
        flex: 1;
    }
} 

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}